body {
  color: whitesmoke;
  background-color: #4369b0;
}

h1 {
  color: whitesmoke;
  font-weight: bold;
}

a,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

.city-col {
  background: #4369b0 no-repeat top;
}

.city-col:nth-child(2),
.city-col:nth-child(3),
.city-col:nth-child(6),
.city-col:nth-child(7),
.city-col:nth-child(10) {
  background-color: #3f63a4;
}
